<thead>
{% for field, options in fields %}

    {% if ordering.order != field %}
        {% set direction = 'asc' %}
    {% else %}
        {% set direction = ordering.direction == 'asc' ? 'desc' : 'asc' %}
    {% endif %}

    {% set fieldName = attribute(options, "name") ? options.name : field %}

    <th>
        {% if options.order != false %}
        <a href="{{ path(routes.list, {'order': field, 'direction': direction, 'page': pagination.page, 'perPage': pagination.perPage}) }}" title="Order by {{ fieldName }}">
            {% endif %}
            {{ fieldName }}
            {% if options.order != false %}
        </a>
        {% endif %}
    </th>
{% endfor %}
<th class="header-actions"><a href="{{ path(routes.new) }}" title="+ Create" class="create"><i class="fa fa-plus"></i> Create</i></a></th>
</thead>
