<tr class="{{ cycle(['odd', 'even'], count) }}">
    {% for field, options in fields %}
        <td>
            {{ attribute(data, options.fieldAlias) }}
        </td>
    {% endfor %}

    {{ rowActions|raw }}
</tr>